# Explore here

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, mean_squared_error, r2_score

In [29]:
#===============================================================================
#                Cargar Archivos
#===============================================================================

Ruta_Arch = "https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/refs/heads/main/winequality-red.csv"

total_data= pd.read_csv(Ruta_Arch, sep = ";")
print(total_data.head())
print(total_data.info())
print(total_data.columns)
print(total_data.shape)

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')
(1599, 12)

In [30]:
print(total_data[total_data.duplicated(keep=False)])

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
4               7.4             0.700         0.00             1.9      0.076
9               7.5             0.500         0.36             6.1      0.071
11              7.5             0.500         0.36             6.1      0.071
22              7.9             0.430         0.21             1.6      0.106
...             ...               ...          ...             ...        ...
1567            7.2             0.695         0.13             2.0      0.076
1579            6.2             0.560         0.09             1.7      0.053
1581            6.2             0.560         0.09             1.7      0.053
1592            6.3             0.510         0.13             2.3      0.076
1596            6.3             0.510         0.13             2.3      0.076

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
4                    11.0                  34.0  0.99780  3.51       0.56
9                    17.0                 102.0  0.99780  3.35       0.80
11                   17.0                 102.0  0.99780  3.35       0.80
22                   10.0                  37.0  0.99660  3.17       0.91
...                   ...                   ...      ...   ...        ...
1567                 12.0                  20.0  0.99546  3.29       0.54
1579                 24.0                  32.0  0.99402  3.54       0.60
1581                 24.0                  32.0  0.99402  3.54       0.60
1592                 29.0                  40.0  0.99574  3.42       0.75
1596                 29.0                  40.0  0.99574  3.42       0.75

      alcohol  quality
0         9.4        5
4         9.4        5
9        10.5        5
11       10.5        5
22        9.5        5
...       ...      ...
1567     10.1        5
1579     11.3        5
1581     11.3        5
1592     11.0        6
1596     11.0        6

[460 rows x 12 columns]

In [31]:
round(total_data.describe(),2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00
mean,8.32,0.53,0.27,2.54,0.09,15.87,46.47,1.00,3.31,0.66,10.42,5.64
std,1.74,0.18,0.19,1.41,0.05,10.46,32.90,0.00,0.15,0.17,1.07,0.81
min,4.60,0.12,0.00,0.90,0.01,1.00,6.00,0.99,2.74,0.33,8.40,3.00
25%,7.10,0.39,0.09,1.90,0.07,7.00,22.00,1.00,3.21,0.55,9.50,5.00
50%,7.90,0.52,0.26,2.20,0.08,14.00,38.00,1.00,3.31,0.62,10.20,6.00
75%,9.20,0.64,0.42,2.60,0.09,21.00,62.00,1.00,3.40,0.73,11.10,6.00
max,15.90,1.58,1.00,15.50,0.61,72.00,289.00,1.00,4.01,2.00,14.90,8.00

In [32]:
#===============================================================================
#                Missing Data Ceros, N/A
#===============================================================================
# Count NaN
total_data.isnull().sum().sort_values(ascending=False)

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [33]:
#===============================================================================
#               Esta es la descripcion Estadistica de las Columnas
#===============================================================================
total_data['quality'].value_counts().sort_values()

quality
3     10
8     18
4     53
7    199
6    638
5    681
Name: count, dtype: int64

In [34]:

total_data2 = total_data.drop_duplicates()

In [35]:
print(total_data2.head())
print(total_data2.info())
print(total_data2.columns)
print(total_data2.shape)

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
5            7.4              0.66         0.00             1.8      0.075

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
5                 13.0                  40.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
5      9.4        5
<class 'pandas.core.frame.DataFrame'>
Index: 1359 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1359 non-null   float64
 1   volatile acidity      1359 non-null   float64
 2   citric acid           1359 non-null   float64
 3   residual sugar        1359 non-null   float64
 4   chlorides             1359 non-null   float64
 5   free sulfur dioxide   1359 non-null   float64
 6   total sulfur dioxide  1359 non-null   float64
 7   density               1359 non-null   float64
 8   pH                    1359 non-null   float64
 9   sulphates             1359 non-null   float64
 10  alcohol               1359 non-null   float64
 11  quality               1359 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 138.0 KB
None
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')
(1359, 12)

In [37]:
#===============================================================================
#                Detectar Outliners
#===============================================================================
# Detectar outliers usando el método IQR
outliers = {}

for columna in total_data2:
    Q1 = total_data2[columna].quantile(0.25)
    Q3 = total_data2[columna].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.8 * IQR
    outlier_indices = total_data2[(total_data2[columna] < lower_bound) | (total_data2[columna] > upper_bound)].index
    outliers[columna] = len(outlier_indices)
    print(f"'{columna}': {len(outlier_indices)} outliers detectados.")

'fixed acidity': 18 outliers detectados.
'volatile acidity': 8 outliers detectados.
'citric acid': 0 outliers detectados.
'residual sugar': 113 outliers detectados.
'chlorides': 77 outliers detectados.
'free sulfur dioxide': 19 outliers detectados.
'total sulfur dioxide': 27 outliers detectados.
'density': 28 outliers detectados.
'pH': 19 outliers detectados.
'sulphates': 43 outliers detectados.
'alcohol': 7 outliers detectados.
'quality': 27 outliers detectados.

In [ ]:
#===============================================================================
#                Eliminar Outliners
#===============================================================================
# Copia del DataFrame para no tocar el original
total_data_sin_outliers = total_data2.copy()

for columna in total_data2:
    Q1 = total_data_sin_outliers[columna].quantile(0.25)
    Q3 = total_data_sin_outliers[columna].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.8 * IQR
    # Filtrar los datos que están dentro de los límites
    total_data_sin_outliers = total_data_sin_outliers[(total_data_sin_outliers[columna] >= lower_bound) & (total_data_sin_outliers[columna] <= upper_bound)]

print(f"Nuevo tamaño del DataFrame: {total_data_sin_outliers.shape}")

NameError: name 'df_clean' is not defined